<div class="container">
  <h1>Emotion Tracker</h1>
  
  <div class="tabs">
    <button 
      class="tab" 
      [class.active]="isActiveTab('calendar')"
      (click)="setActiveTab('calendar')">
      Calendar View
    </button>
    <button 
      class="tab" 
      [class.active]="isActiveTab('emotions')"
      (click)="setActiveTab('emotions')">
      Manage Emotions
    </button>
  </div>

  <app-calendar 
    *ngIf="isActiveTab('calendar')"
    (dateSelected)="setActiveTab('emotions', $event)">
  </app-calendar>
  
  <app-emotion-form 
    *ngIf="isActiveTab('emotions')"
    [selectedDate]="selectedDate()">
  </app-emotion-form>
</div>